<h1>Listado de noticias</h1>

<table>
  <tr>
    <th>Título</th>
    <th>Contenido</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @noticias.each do |noticia| %>
  <tr>
    <td><%= noticia.titulo %></td>
    <td><%= noticia.contenido %></td>
    <td><%= link_to 'Show', noticia %></td>
    <td><%= link_to 'Edit', edit_noticia_path(noticia) %></td>
    <td><%= link_to 'Destroy', noticia, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nueva Noticia', new_noticia_path %>
