<p id="notice"><%= notice %></p>

<p>
  <b>Título:</b>
  <%= @noticia.titulo %>
</p>

<p>
  <b>Contenido:</b>
  <%= @noticia.contenido %>
</p>


<%= link_to 'Editar', edit_noticia_path(@noticia) %> |
<%= link_to 'Atrás', noticias_path %>
